# skip build files
/code/*/bin
/code/projects/windows/.vs

code/appDX11ShaderCompiler/exe
code/appImmUnity/exe/
code/appImmViewer/exe/appImmViewer_Debug.*
code/appImmViewer/exe/appImmViewer_Release.*
code/appImmViewer/exe/*.dll
code/appImmViewer/exe/debug.txt

# skip shader files
**/tmp/*.inc
