code/libImmCore/bin
code/libImmImporter/bin
code/libImmExporter/bin
code/libImmPlayer/bin
code/libImmPlayer/src/layerRenderers/layerRendererPicture/tmp
code/libImmPlayer/src/layerRenderers/layerRendererModel/tmp
code/appDX11ShaderCompiler/bin
code/appDX11ShaderCompiler/exe
code/appImmUnity/bin
code/appImmUnity/exe/ImmUnityPlugin.dll
code/appImmUnity/exe/ImmUnityPlugin.exp
code/appImmUnity/exe/ImmUnityPlugin.ilk
code/appImmUnity/exe/ImmUnityPlugin.lib
code/appImmUnity/exe/ImmUnityPlugin.pdb
code/appImmUnity/exe/
code/appImmViewer/bin
code/appImmViewer/exe/appImmViewer_Debug.*
code/appImmViewer/exe/appImmViewer_Release.*
code/projects/windows/.vs
